.goBack {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s ease all;
    margin-bottom: 10px;
    width: fit-content;

    .goBackTitle {
        font-size: 1.2rem;
        margin-left: -5px;
        margin-top: 2px;
    }

    &:hover {
        opacity: 0.6;
    }
}