.container {
    flex: 1;
    display: flex;
    height: 100%;
    width: calc(100vw - 224px);
    flex-direction: column;
  }
  .content {
    padding: 1.2rem 1rem;
    background: #f4f6f9;
    min-height: 100vh;
  }
  